<h1>About</h1>
<p>This purpose of this subpage is to provide resources for all of my projects/websites such as Chan4077.Github.io, pens I have
	in Codepen and more.</p>
<h2>Credits</h2>
<h3>MaterialDesignIcons</h3>
<p>MaterialDesignIcons is provided by Templarian. Check out their Github repo!</p>
<mat-card class="github-card">
	<mat-card-title-group>
		<mat-card-title>Templarian/MaterialDesign</mat-card-title>
		<mat-card-subtitle>By
			<a href="https://github.com/Templarian">
				<strong>Templarian</strong>
			</a>
		</mat-card-subtitle>
		<img mat-card-md-image src="https://avatars1.githubusercontent.com/u/338885?s=460&v=4">
	</mat-card-title-group>
	<mat-card-content>
		<p>
			<strong>Description:</strong> ✒️2000+ Material Design Icons from the Community</p>
	</mat-card-content>
	<mat-card-actions align="end">
		<div *ngIf="!isMobile">
			<a mat-button href="https://materialdesignicons.com" color="primary">
				<mat-icon svgIcon="earth"></mat-icon>
				Visit website
			</a>
			<a mat-button href="https://github.com/Templarian/MaterialDesign" color="primary">
				<mat-icon svgIcon="github-circle"></mat-icon>
				Github
			</a>
		</div>
		<div *ngIf="isMobile">
			<a mat-icon-button href="https://materialdesignicons.com" color="primary" matTooltip="Visit website">
				<mat-icon svgIcon="earth"></mat-icon>
			</a>
			<a mat-icon-button href="https://github.com/Templarian/MaterialDesign" color="primary" matTooltip="Github">
				<mat-icon svgIcon="github-circle"></mat-icon>
			</a>
		</div>
	</mat-card-actions>
</mat-card>
<h4>License</h4>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Click to toggle license</mat-panel-title>
	</mat-expansion-panel-header>
	<pre><code>{{ mdiLicense | async }}</code></pre>
</mat-expansion-panel>
<h3>Angular/ Angular Material</h3>
<mat-card class="github-card">
	<mat-card-title-group>
		<mat-card-title>angular/material2</mat-card-title>
		<mat-card-subtitle>By
			<a href="https://github.com/angular">
				<strong>angular</strong>
			</a>
		</mat-card-subtitle>
		<img mat-card-md-image src="https://avatars0.githubusercontent.com/u/139426?s=200&v=4">
	</mat-card-title-group>
	<mat-card-content>
		<p>
			<strong>Description:</strong> Material Design components for Angular </p>
	</mat-card-content>
	<mat-card-actions align="end">
		<div *ngIf="!isMobile">
			<a mat-button href="https://npmjs.com/package/@angular/material" color="primary">
				<mat-icon svgIcon="package"></mat-icon>
				npm.js package
			</a>
			<a mat-button href="https://material.angular.io" color="primary">
				<mat-icon svgIcon="earth"></mat-icon>
				Visit website
			</a>
			<a mat-button href="https://github.com/angular/material2" color="primary">
				<mat-icon svgIcon="github-circle"></mat-icon>
				Github
			</a>
		</div>
		<div *ngIf="isMobile">
			<a mat-icon-button href="https://material.angular.io" color="primary" matTooltip="Visit website">
				<mat-icon svgIcon="earth"></mat-icon>
			</a>
			<a mat-icon-button href="https://github.com/angular/material2" color="primary" matTooltip="Github">
				<mat-icon svgIcon="github-circle"></mat-icon>
			</a>
		</div>
	</mat-card-actions>
</mat-card>
<mat-card class="github-card">
	<mat-card-title-group>
		<mat-card-title>angular/angular</mat-card-title>
		<mat-card-subtitle>By
			<a href="https://github.com/angular">
				<strong>angular</strong>
			</a>
		</mat-card-subtitle>
		<img mat-card-md-image src="https://avatars0.githubusercontent.com/u/139426?s=200&v=4">
	</mat-card-title-group>
	<mat-card-content>
		<p>
			<strong>Description:</strong> One framework. Mobile & desktop.</p>
	</mat-card-content>
	<mat-card-actions align="end">
		<div *ngIf="!isMobile">
			<a mat-button href="https://npmjs.com/package/@angular/core" color="primary">
				<mat-icon svgIcon="package"></mat-icon>
				npm.js package
			</a>
			<a mat-button href="https://angular.io" color="primary">
				<mat-icon svgIcon="earth"></mat-icon>
				Visit website
			</a>
			<a mat-button href="https://github.com/angular/angular" color="primary">
				<mat-icon svgIcon="github-circle"></mat-icon>
				Github
			</a>
		</div>
		<div *ngIf="isMobile">
			<a mat-icon-button href="https://angular.io" color="primary" matTooltip="Visit website">
				<mat-icon svgIcon="earth"></mat-icon>
			</a>
			<a mat-icon-button href="https://github.com/angular/angular" color="primary" matTooltip="Github">
				<mat-icon svgIcon="github-circle"></mat-icon>
			</a>
		</div>
	</mat-card-actions>
</mat-card>
<h4>Licenses</h4>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Click to toggle license</mat-panel-title>
	</mat-expansion-panel-header>
	<h2>Angular</h2>
	<pre><code>{{ angularLicense | async }}</code></pre>
	<h2>Angular Material</h2>
	<pre><code>{{ matLicense | async }}</code></pre>
</mat-expansion-panel>
<h3>TypeScript</h3>
<mat-card class="github-card">
	<mat-card-title-group>
		<mat-card-title>Microsoft/TypeScript</mat-card-title>
		<mat-card-subtitle>By
			<a href="https://github.com/Microsoft">
				<strong>Microsoft</strong>
			</a>
		</mat-card-subtitle>
		<img mat-card-md-image src="https://avatars0.githubusercontent.com/u/6154722?s=200&v=4">
	</mat-card-title-group>
	<mat-card-content>
		<p>
			<strong>Description:</strong> TypeScript is a superset of JavaScript that compiles to clean JavaScript output.</p>
	</mat-card-content>
	<mat-card-actions align="end">
		<div *ngIf="!isMobile">
			<a mat-button href="https://materialdesignicons.com" color="primary">
				<mat-icon svgIcon="earth"></mat-icon>
				Visit website
			</a>
			<a mat-button href="https://github.com/Microsoft/TypeScript" color="primary">
				<mat-icon svgIcon="github-circle"></mat-icon>
				Github
			</a>
		</div>
		<div *ngIf="isMobile">
			<a mat-icon-button href="https://materialdesignicons.com" color="primary" matTooltip="Visit website">
				<mat-icon svgIcon="earth"></mat-icon>
			</a>
			<a mat-icon-button href="https://github.com/Microsoft/TypeScript" color="primary" matTooltip="Github">
				<mat-icon svgIcon="github-circle"></mat-icon>
			</a>
		</div>
	</mat-card-actions>
</mat-card>
<h4>License</h4>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Click to toggle license</mat-panel-title>
	</mat-expansion-panel-header>
	<pre><code>{{ typescriptLicense | async }}</code></pre>
</mat-expansion-panel>
<p></p>
<h3>Github Pages</h3>
<p></p>
<h2>Source code</h2>
<p>The source code of this subpage is available at
	<a href="https://github.com/Chan4077/res">Chan4077/res</a>.</p>
<h2>License</h2>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>Click to toggle license</mat-panel-title>
	</mat-expansion-panel-header>
	<pre><code>{{ projectLicense | async }}</code></pre>
</mat-expansion-panel>