<h2 matDialogTitle>Keyboard shortcuts</h2>
<mat-dialog-content>
	<table class="app-table keyboard-shortcut-dialog-table">
		<thead>
			<th>Description</th>
			<th>Keyboard shortcut</th>
		</thead>
		<tr>
			<td>Open keyboard shortcuts</td>
			<td><kbd>Shift</kbd> + <kbd>/</kbd></td>
		</tr>
		<tr>
			<td>Go to about page</td>
			<td><kbd>g</kbd>&nbsp;<kbd>a</kbd></td>
		</tr>
		<tr>
			<td>Go to home page</td>
			<td><kbd>g</kbd>&nbsp;<kbd>h</kbd></td>
		</tr>
		<tr>
			<td>Go to icons list page</td>
			<td><kbd>g</kbd>&nbsp;<kbd>l</kbd></td>
		</tr>
		<tr>
			<td>Download icons</td>
			<td><kbd>d</kbd>&nbsp;<kbd>i</kbd></td>
		</tr>
	</table>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button matDialogClose color="primary">Close</button>
</mat-dialog-actions>