<div #code class="example-code-snippet">
	<button mat-icon-button (click)="copyToClipboard()" class="docs-copy-btn" matTooltip="Copy code" [ngClass]="{'white-icon': isDark}">
		<mat-icon>
			<svg width="24" height="24">
				<path d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
				/>
			</svg>
		</mat-icon>
	</button>
	<span *ngIf="fileName" class="docs-code-viewer-filename">{{fileName}}</span>
	<pre class="docs-code-viewer-pre"><code class="hljs {{language}}"><ng-content></ng-content></code></pre>
</div>