<h2 matDialogTitle>Code snippet</h2>
<mat-dialog-content>
	Copy this code snippet by clicking on the "Copy code" button on the top right of the code block.
	<h3>Angular Material</h3>
	<code-viewer language="html">&lt;mat-icon svgIcon="{{selectedIcon}}"&gt;&lt;/mat-icon&gt;</code-viewer>
	<h3>AngularJS Material</h3>
	<code-viewer language="html">&lt;md-icon md-svg-icon="{{selectedIcon}}"&gt;&lt;/md-icon&gt;</code-viewer>
</mat-dialog-content>
<mat-dialog-actions>
	<a mat-icon-button href="https://materialdesignicons.com/getting-started" target="_blank" matTooltip="MDI Getting Started"><mat-icon svgIcon="vector-square"></mat-icon></a>
	<span fxFlex></span>
	<button mat-button color="primary" (click)="close()">Dismiss</button>
</mat-dialog-actions>